@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@1,300&display=swap');

div {
    max-width: 1060px;
    margin: 0 auto;

}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color:burlywood;
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-family: Sofia, Sans, 'Times New Roman', Times, serif; 
}

h2 {
    margin: 0;
}

header {
    background-color:beige
}

nav a:hover {
    background-color: black;
}

.book, .join {
    background-color: bisque;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: black;
}

#background {
    background-color: bisque;
}

.msg h2 {
    background-color: cornflowerblue;
    font-family: Sofia, Sans, 'Times New Roman', Times, serif;
}

.msg p {
    background-color: aquamarine;
    font-size: 0.8em;
    padding-bottom: 15px;
}

footer {
    background-color:darkcyan;
    margin-top: 200px;
}

footer a {
    background-color:bisque ;
    text-decoration: none;
    padding: 25px 20px;
}

footer a:hover {
    background-color: blue;
    text-decoration: underline;
}

.logo {
    width: 80px;
}

.icon {
    width:80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

.home-title {
    font-family: Sofia, Sans, 'Times New Roman', Times, serif;
    font-size: 2em;
    margin-top: 10px;
}

.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
}

footer .social img {
    padding-top: 15px;
}

.river-card, .camping-card, .rapid-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}

main section img {
    box-sizing: border-box;
}